doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Despliegue API | #{title}
        link(rel="stylesheet", href="/css/app.css")
    body(class="bg-red-100")
        main(class="container mx-auto mt-10")
            block contenido